In [1]:
import pandas as pd
y2018 = pd.read_csv('fadata/2018-Table 1.csv')
y2017 = pd.read_csv('fadata/2017-Table 1.csv')
y2016 = pd.read_csv('fadata/2016-Table 1.csv')
y2015 = pd.read_csv('fadata/2015-Table 1.csv')
y2014 = pd.read_csv('fadata/2014-Table 1.csv')

In [2]:
frames = [y2014,y2015,y2016,y2017,y2018]
result = pd.concat(frames)

In [3]:

result['price'] = result['Unnamed: 1'].str.replace('\t', '')
result = result.iloc[1:]
result = result.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3','Unnamed: 4'], axis=1)
result.columns = ['date', 'gas-price']
result.sort_values('date')
#result

           date            gas-price
5       1/10/17                35.46
5       1/10/18                20.51
8       1/11/16                23.05
6       1/11/17                39.15
6       1/11/18                21.25
7       1/12/15                24.71
9       1/12/16                20.63
7       1/12/17                29.84
7       1/12/18                24.15
8       1/13/15                24.77
10      1/13/16                21.76
8       1/13/17                28.05
9       1/14/15                22.23
10      1/15/15                23.71
12      1/15/16                22.97
11      1/15/16                22.18
11      1/16/15                24.14
8       1/16/18                22.25
10      1/17/17                27.20
9       1/17/18                20.66
11      1/18/17                26.47
10      1/18/18                20.26
13      1/19/16                23.40
12      1/19/17                28.37
11      1/19/18                21.74
1        1/2/15                21.97
12      1/20/15                23.73
14      1/20/16                23.73
13      1/20/17                30.69
13      1/21/15                24.04
..          ...                  ...
187     9/29/17                24.97
99       9/3/14               40.16
171      9/3/15                22.05
118     9/30/14                32.74
189     9/30/15                24.95
190     9/30/16                23.90
100      9/4/14               39.48
172      9/4/15                29.45
168      9/4/18                38.88
101      9/5/14               38.63
169      9/5/17                39.86
169      9/5/18                35.67
172      9/6/16                27.01
170      9/6/17                26.57
170      9/6/18                28.30
173      9/7/16                27.41
171      9/7/17                22.58
171      9/7/18                26.15
102      9/8/14               38.13
173      9/8/15                36.22
174      9/8/16                29.15
172      9/8/17                29.34
103      9/9/14               39.79
174      9/9/15                35.43
175      9/9/16                28.12
0    Trade date  Wtd avg price $/MWh
0    Trade date  Wtd avg price $/MWh
0    Trade date  Wtd avg price $/MWh
0    Trade date  Wtd avg price $/MWh
253         NaN                  NaN

[1181 rows x 2 columns]

In [4]:
result.dtypes
resultx = result['date']= pd.to_datetime(result['date'], dayfirst=True, errors='coerce')
#print(resultx)



#results = result.assign()
#result['Date'] = resultx

In [5]:
result.dtypes

date         datetime64[ns]
gas-price            object
dtype: object

In [6]:
pcg = pd.read_csv('PCG.csv')
#pcg

In [7]:
pcg['Date']= pd.to_datetime(pcg['Date'], dayfirst=True, errors='coerce')
pcg.dtypes

Date         datetime64[ns]
Adj Close           float64
dtype: object

In [8]:
pcg.columns = ['date', 'stock-price']

In [9]:
merge=pd.merge(result,pcg, how='inner', on='date')

In [10]:
#merge

In [11]:
copper = pd.read_csv('copper.csv')

In [12]:
copper['Date']= pd.to_datetime(copper['Date'], dayfirst=True, errors='coerce')
copper.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

In [13]:
copper.columns = ['date', 'copper-price']

In [14]:
mergec=pd.merge(merge,copper, how='inner', on='date')

In [16]:
#mergec

In [17]:
Tbill = pd.read_csv('Tbill.csv')

In [18]:
Tbill['Date']= pd.to_datetime(Tbill['Date'], dayfirst=True, errors='coerce')
Tbill.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

In [19]:
Tbill.columns = ['date', 'Tbill-price']

In [20]:
PCGdata = pd.merge(mergec,Tbill, how='inner', on='date')

In [24]:
PCGdata.columns = ['date','elec','stock','copper','Tbill']

In [26]:
#PCGdata

In [27]:
Ngas = pd.read_csv('NGas.csv')

In [28]:
Ngas['Date']= pd.to_datetime(Ngas['Date'], dayfirst=True, errors='coerce')
Ngas.dtypes

Date     datetime64[ns]
Price           float64
dtype: object

In [30]:
Ngas.columns = ['date', 'NGas']

In [31]:
PCGdatax = pd.merge(PCGdata,Ngas, how='inner', on='date')

In [32]:
PCGdatax

           date     elec      stock  copper   Tbill   NGas
0    2014-04-15   26.22   40.240925   3.017  119.52  4.567
1    2014-04-16   27.49   40.552040   3.050  119.35  4.530
2    2014-04-17   35.34   39.885361   3.070  119.01  4.741
3    2014-04-21   28.33   39.805355   3.068  119.06  4.697
4    2014-04-22   38.55   39.725349   3.079  118.95  4.739
5    2014-04-23   34.99   39.627567   3.082  119.14  4.730
6    2014-04-24   32.75   39.912014   3.136  119.12  4.705
7    2014-04-25   42.04   40.445362   3.127  119.18  4.647
8    2014-04-28   40.63   40.738712   3.108  119.23  4.795
9    2014-04-29   36.71   40.312027   3.072  119.15  4.831
10   2014-04-30   41.36   40.516479   3.030  119.45  4.815
11   2014-05-05   35.69   39.876469   3.071  119.46  4.688
12   2014-06-05   31.50   41.334282   3.091  120.05  4.701
13   2014-08-05   22.79   39.247952   3.199  119.33  3.897
14   2014-09-05   41.38   43.143124   3.158  119.49  3.793
15   2014-12-05   49.62   46.198410   2.925  119.34  3.802
16   2014-12-05   49.62   46.198410   2.925  119.34  3.802
17   2014-05-13   56.29   38.400875   3.150  119.84  4.358
18   2014-05-14   57.58   38.916443   3.174  120.12  4.367
19   2014-05-15   24.94   38.783115   3.162  120.24  4.469
20   2014-05-16   35.29   38.792000   3.161  120.20  4.413
21   2014-05-19   38.78   38.685329   3.179  120.25  4.470
22   2014-05-20   36.67   38.783115   3.156  120.42  4.552
23   2014-05-21   33.84   39.369781   3.131  120.34  4.473
24   2014-05-22   18.75   39.654240   3.152  120.20  4.359
25   2014-05-23   35.75   39.752018   3.180  120.34  4.405
26   2014-05-27   22.10   39.805355   3.193  120.34  4.505
27   2014-05-28   33.65   40.267578   3.188  120.63  4.619
28   2014-05-29   32.26   40.605373   3.154  120.55  4.559
29   2014-05-30   40.67   40.774261   3.136  120.49  4.542
...         ...      ...        ...     ...     ...    ...
996  2018-11-13    61.99  32.720001   2.705  112.38  4.101
997  2018-11-14    57.21  25.590000   2.728  112.54  4.837
998  2018-11-15    66.02  17.740000   2.763  112.58  4.038
999  2018-11-16    69.90  24.400000   2.810  112.82  4.272
1000 2018-11-19    69.72  23.260000   2.807  112.95  4.700
1001 2018-11-20    48.25  23.510000   2.776  112.91  4.523
1002 2018-11-21    60.93  24.299999   2.808  112.83  4.451
1003 2018-11-26    50.02  25.120001   2.773  112.77  4.248
1004 2018-11-27    60.64  26.969999   2.726  112.85  4.262
1005 2018-11-28    63.39  27.459999   2.813  112.95  4.715
1006 2018-11-29    67.15  26.760000   2.789  112.95  4.646
1007 2018-11-30    89.49  26.379999   2.788  112.98  4.612
1008 2018-03-12    96.78  42.419998   3.104  114.34  2.778
1009 2018-04-12    77.63  44.630001   3.060  113.98  2.686
1010 2018-06-12    66.28  39.290001   3.243  113.50  2.939
1011 2018-07-12    61.41  43.660000   2.768  113.48  2.797
1012 2018-10-12    49.06  47.270000   2.800  112.32  3.161
1013 2018-11-12    44.80  32.980000   2.676  112.31  3.788
1014 2018-12-12    47.09  26.389999   2.770  113.34  4.136
1015 2018-12-13    46.39  26.510000   2.767  113.38  4.124
1016 2018-12-14    44.46  26.010000   2.763  113.51  3.827
1017 2018-12-17    34.68  24.440001   2.755  113.67  3.528
1018 2018-12-18    34.83  23.020000   2.664  113.84  3.838
1019 2018-12-19    36.85  23.750000   2.716  113.97  3.726
1020 2018-12-20    35.69  23.850000   2.696  113.85  3.583
1021 2018-12-21    42.67  22.750000   2.674  113.92  3.816
1022 2018-12-26    42.74  23.330000   2.700  114.03  3.543
1023 2018-12-27    35.33  23.600000   2.668  114.31  3.642
1024 2018-12-28    39.05  23.889999   2.682  114.41  3.303
1025 2018-12-31    37.96  23.750000   2.631  114.61  2.940

[1026 rows x 6 columns]

In [33]:
PCGdatax.to_csv('PCGdata.csv')

In [34]:
PCG = pd.read_csv('PCGdata.csv')

In [35]:
PCG

      Unnamed: 0        date   elec      stock  copper   Tbill   NGas
0              0  2014-04-15  26.22  40.240925   3.017  119.52  4.567
1              1  2014-04-16  27.49  40.552040   3.050  119.35  4.530
2              2  2014-04-17  35.34  39.885361   3.070  119.01  4.741
3              3  2014-04-21  28.33  39.805355   3.068  119.06  4.697
4              4  2014-04-22  38.55  39.725349   3.079  118.95  4.739
5              5  2014-04-23  34.99  39.627567   3.082  119.14  4.730
6              6  2014-04-24  32.75  39.912014   3.136  119.12  4.705
7              7  2014-04-25  42.04  40.445362   3.127  119.18  4.647
8              8  2014-04-28  40.63  40.738712   3.108  119.23  4.795
9              9  2014-04-29  36.71  40.312027   3.072  119.15  4.831
10            10  2014-04-30  41.36  40.516479   3.030  119.45  4.815
11            11  2014-05-05  35.69  39.876469   3.071  119.46  4.688
12            12  2014-06-05  31.50  41.334282   3.091  120.05  4.701
13            13  2014-08-05  22.79  39.247952   3.199  119.33  3.897
14            14  2014-09-05  41.38  43.143124   3.158  119.49  3.793
15            15  2014-12-05  49.62  46.198410   2.925  119.34  3.802
16            16  2014-12-05  49.62  46.198410   2.925  119.34  3.802
17            17  2014-05-13  56.29  38.400875   3.150  119.84  4.358
18            18  2014-05-14  57.58  38.916443   3.174  120.12  4.367
19            19  2014-05-15  24.94  38.783115   3.162  120.24  4.469
20            20  2014-05-16  35.29  38.792000   3.161  120.20  4.413
21            21  2014-05-19  38.78  38.685329   3.179  120.25  4.470
22            22  2014-05-20  36.67  38.783115   3.156  120.42  4.552
23            23  2014-05-21  33.84  39.369781   3.131  120.34  4.473
24            24  2014-05-22  18.75  39.654240   3.152  120.20  4.359
25            25  2014-05-23  35.75  39.752018   3.180  120.34  4.405
26            26  2014-05-27  22.10  39.805355   3.193  120.34  4.505
27            27  2014-05-28  33.65  40.267578   3.188  120.63  4.619
28            28  2014-05-29  32.26  40.605373   3.154  120.55  4.559
29            29  2014-05-30  40.67  40.774261   3.136  120.49  4.542
...          ...         ...    ...        ...     ...     ...    ...
996          996  2018-11-13  61.99  32.720001   2.705  112.38  4.101
997          997  2018-11-14  57.21  25.590000   2.728  112.54  4.837
998          998  2018-11-15  66.02  17.740000   2.763  112.58  4.038
999          999  2018-11-16  69.90  24.400000   2.810  112.82  4.272
1000        1000  2018-11-19  69.72  23.260000   2.807  112.95  4.700
1001        1001  2018-11-20  48.25  23.510000   2.776  112.91  4.523
1002        1002  2018-11-21  60.93  24.299999   2.808  112.83  4.451
1003        1003  2018-11-26  50.02  25.120001   2.773  112.77  4.248
1004        1004  2018-11-27  60.64  26.969999   2.726  112.85  4.262
1005        1005  2018-11-28  63.39  27.459999   2.813  112.95  4.715
1006        1006  2018-11-29  67.15  26.760000   2.789  112.95  4.646
1007        1007  2018-11-30  89.49  26.379999   2.788  112.98  4.612
1008        1008  2018-03-12  96.78  42.419998   3.104  114.34  2.778
1009        1009  2018-04-12  77.63  44.630001   3.060  113.98  2.686
1010        1010  2018-06-12  66.28  39.290001   3.243  113.50  2.939
1011        1011  2018-07-12  61.41  43.660000   2.768  113.48  2.797
1012        1012  2018-10-12  49.06  47.270000   2.800  112.32  3.161
1013        1013  2018-11-12  44.80  32.980000   2.676  112.31  3.788
1014        1014  2018-12-12  47.09  26.389999   2.770  113.34  4.136
1015        1015  2018-12-13  46.39  26.510000   2.767  113.38  4.124
1016        1016  2018-12-14  44.46  26.010000   2.763  113.51  3.827
1017        1017  2018-12-17  34.68  24.440001   2.755  113.67  3.528
1018        1018  2018-12-18  34.83  23.020000   2.664  113.84  3.838
1019        1019  2018-12-19  36.85  23.750000   2.716  113.97  3.726
1020        1020  2018-12-20  35.69  23.850000   2.696  113.85  3.583
1021        1021  2018-12-21  42.67  22.750000   2.674  113.92  3.816
1022        1022  2018-12-26  42.74  23.330000   2.700  114.03  3.543
1023        1023  2018-12-27  35.33  23.600000   2.668  114.31  3.642
1024        1024  2018-12-28  39.05  23.889999   2.682  114.41  3.303
1025        1025  2018-12-31  37.96  23.750000   2.631  114.61  2.940

[1026 rows x 7 columns]