In [2]:
import pandas as pd
import numpy as np

In [3]:
infile = '/Users/kenmckee/Downloads/eur.pop.rev.csv'

In [22]:
df = pd.read_csv(infile)
type(df)

#print(df)

pandas.core.frame.DataFrame

In [27]:
#reset the columns 
cols = ['Country','y1989','y1990','y1991','y1992','y1993','y1994','y1995']

df.columns = cols
#print(df)

In [48]:
#1#Fill with zeros and coerce to numeric

cols = ['y1989','y1990','y1991','y1992','y1993','y1994','y1995']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

#print(df)

In [50]:
#fill na with zeros
df = df.fillna(0)
print(df)

                                 Country        y1989        y1990  \
0                                      0          0.0          0.0
1                                      0          0.0          0.0
2                                Austria    7602431.0    7660345.0
3                                Belgium    9927600.0    9947800.0
4                                Denmark    5129800.0    5135400.0
5                                Finland    4954359.0    4974383.0
6                                 France   56269800.0          0.0
7                                Germany   61715000.0   62678000.0
8                                Iceland     253500.0     255708.0
9                                Ireland    3526600.0    3505500.0
10                                 Italy   57504700.0   57576400.0
11                             Luxemburg     374900.0     379300.0
12                            Netherland   14805240.0   14892574.0
13                                Norway    4226901.0    4241473.0
14                              Portugal   10304700.0          0.0
15                                 Spain   38851900.0   38924500.0
16                                Sweden    8458890.0    8527040.0
17                           Switzerland    6619973.0    6673850.0
18                        United Kingdom   57236200.0   57410600.0
19                                     0          0.0          0.0
20                          Total Europe  325665440.0  326962674.0
21                                     0          0.0          0.0
22  Sources: Eurostat, national agencies          0.0          0.0

          y1991        y1992        y1993        y1994        y1995
0           0.0          0.0          0.0          0.0          0.0
1           0.0          0.0          0.0          0.0          0.0
2     7790957.0    7860800.0    7909575.0    7943652.0    8054800.0
3     9987000.0   10068319.0   10100631.0   10130574.0   10143047.0
4     5146500.0    5162100.0    5180614.0    5191000.0    5251027.0
5     4998478.0    5029300.0    5054982.0    5098754.0    5116800.0
6    56893000.0   57217500.0   57529577.0   57847000.0   58265400.0
7    79753000.0   80238000.0   81338000.0   81353000.0   81845000.0
8      259577.0     262193.0     264922.0     266783.0     267806.0
9     3519000.0    3542000.0    3559985.0    3570700.0    3591200.0
10   57746200.0   57788200.0   57114161.0   57201800.0   57268578.0
11     384400.0     389800.0     395200.0     400000.0     412800.0
12   15010445.0   15129200.0   15354000.0   15341553.0   15492800.0
13    4261930.0    4273634.0    4324577.0    4348410.0    4370000.0
14    9858500.0    9846000.0    9987500.0    9776000.0    9920800.0
15   38993800.0   39055900.0   39790955.0   39177400.0   39241900.0
16    8590630.0    8644100.0    8700000.0    8749000.0    8837000.0
17    6750693.0    6831900.0    6871500.0    7021200.0    7060400.0
18   57649200.0   58888800.0   58191230.0   58380000.0   58684000.0
19          0.0          0.0          0.0          0.0          0.0
20  345061045.0  347604719.0  348887853.0  348540020.0  372599752.0
21          0.0          0.0          0.0          0.0          0.0
22          0.0          0.0          0.0          0.0          0.0

In [51]:
#2#Countries over 1 Million
hdf95 = df[df.y1995 > 1000000]
print(hdf95['Country'] )

2            Austria
3            Belgium
4            Denmark
5            Finland
6             France
7            Germany
9            Ireland
10             Italy
12        Netherland
13            Norway
14          Portugal
15             Spain
16            Sweden
17       Switzerland
18    United Kingdom
20      Total Europe
Name: Country, dtype: object

In [52]:
#3
#find the average population for the UK for the dataset
uk = df.loc[df['Country'] == 'United Kingdom']
newuk = uk.set_index('Country').T

print(newuk)

UKavg = newuk["United Kingdom"].mean()
print("")
print("The avg pop for the UK from 89-95 is ", UKavg)

Country  United Kingdom
y1989        57236200.0
y1990        57410600.0
y1991        57649200.0
y1992        58888800.0
y1993        58191230.0
y1994        58380000.0
y1995        58684000.0

The avg pop for the UK from 89-95 is  58062861.428571425